@model IList<FoodTruckCerrado.Models.FotosFood>
@{
    ViewBag.Title = "Fotos";
}
<section class="section-cardapio">

    <h2 class="text-center">Fotos</h2>

    <div class="botao-add">
        @if (WebSecurity.IsAuthenticated)
        {
            MembershipUser mu = Membership.GetUser();
            int propId = Convert.ToInt32(mu.ProviderUserKey.ToString());

            if (propId == ViewBag.Id)
            {
                @Html.ActionLink("Add Foto", "Form", new { idFood = ViewBag.Foto[0].FoodTruckId }, new { @class = "btn btn-primary" })
            }
        }
    </div>
    <div class="box-fotos-pai">
        @foreach (var img in Model)
        {
            <div class="box-fotos">
                <img class="img-thumbnail" src="@img.Url">
                @if (WebSecurity.IsAuthenticated)
                {
                MembershipUser mu = Membership.GetUser();
                int propId = Convert.ToInt32(mu.ProviderUserKey.ToString());

                if (propId == ViewBag.Id)
                {
                @Html.ActionLink("Deletar", "Deleta", new { idFoto = @img.Id }, new { @class = "btn btn-danger" })
                }
                }
                <div id="myModal" class="modal">
                    <span class="close">×</span>
                    <img class="modal-content" id="@img.Id">
                    <div id="caption"></div>
                </div>
            </div>
        }

    </div>
</section>