@model IList<FoodTruckCerrado.Models.Evento>

<section class="section-eventos">
    <h2 class="text-center">Eventos</h2>

@if (WebSecurity.IsAuthenticated)
{
    MembershipUser mu = Membership.GetUser();
    int propId = Convert.ToInt32(mu.ProviderUserKey.ToString());

    if (propId == ViewBag.Id)
    {
    @Html.ActionLink("Gerenciar Eventos", "BuscaEvento", "EventoFood", new { idFood = @ViewBag.Food }, new { @class = "btn btn-primary" })
    }
}
    <div class="box-evento-food-pai">
        @foreach (var evento in Model)
        {
            <div class="evento-food">
                <figure class="thumbnail img-thumbnail img-responsive">

                        <img src="@evento.FotoCapa" />
                  
                    <figcaption class="food-truck-eventos-evento">
                        <h3>
                        @Html.ActionLink(evento.Data.Date.ToString("dd/MM/yyyy"), "Visualiza", "Evento", new { id = evento.Id }, null)
                            -
                        @Html.ActionLink(evento.Nome, "Visualiza", "Evento", new { id = evento.Id }, null) 
                        </h3>
                    </figcaption>
                </figure>
            </div>
        }
    </div>
</section>