@model FoodTruckCerrado.Models.LocalizacaoFood

<section class="agenda-food-truck">

    <input type="hidden" id="lat" value="@Model.Latitude" />
    <input type="hidden" id="long" value="@Model.Logitude" />

    <h2 class="text-center">Localização</h2>

    <div class="mapa-box-pai">
       
        <div class="mapa-box-descricao">
            <p class="data">@Html.DisplayFor(l => l.DataLocalização)</p> 
            <p class="mapa-descricao"><strong>Descrição:</strong> @Html.DisplayFor(l => l.Descricao)</p>
            <div>
               <p>
                   <input type="button" class="btn btn-primary" value="Traçar rota" id="rota" />
                   @Html.ActionLink("Voltar", "BuscaLoc", new { idFood = Model.FoodTruckId }, new { @class = "btn btn-primary" })
                </p>
            
                @if (WebSecurity.IsAuthenticated)
                {
                    MembershipUser mu = Membership.GetUser();
                    int propId = Convert.ToInt32(mu.ProviderUserKey.ToString());

                    if (propId == ViewBag.Id)
                    {
                        <span>  @Html.ActionLink("Editar", "Atualiza", new { id = Model.Id }, new { @class = "btn btn-primary" })</span>
                        <span> @Html.ActionLink("Deletar", "Deleta", new { id = Model.Id }, new { @class = "btn btn-danger" })</span>
                    }
                }
            </div>
        </div>
        <div class="box-mapa">
            <div id="map">
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/Mapas.js"></script>