@model FoodTruckCerrado.Models.LocalizacaoFood

<section class="container">

    <h2 class="titulo">@Model.DataLocalização</h2>
    <input type="hidden" id="lat" value="@Model.Latitude" />
    <input type="hidden" id="long" value="@Model.Logitude" />
   
    <div class="row" id="map">
    </div>
    <div>
        @if (WebSecurity.IsAuthenticated)
        {
            MembershipUser mu = Membership.GetUser();
            int propId = Convert.ToInt32(mu.ProviderUserKey.ToString());

            if (propId == ViewBag.Id)
            {
                    @Html.ActionLink("Editar", "Atualizar", new { id = Model.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Deletar", "Deleta", new { id = Model.Id }, new { @class = "btn btn-danger" })
            }
        }
        <input type="button" class="btn btn-primary" name="Rota" id="rota"/>
    </div>
</section>
<script src="~/Scripts/Mapas.js"></script>