@model IList<FoodTruckCerrado.Models.Proprietario>

<section class="section-eventos">
    <h2>Usuários do sistema</h2>
    <div class="tabela-usuario">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
                @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Nome</td>
                    <td>@user.Sobrenome</td>
                    <td>@user.Email</td>
                    <td>@Html.ActionLink("Editar", "Editar", "Proprietario", new { id = user.Id }, new { @class = "btn btn-primary" }) @Html.ActionLink("Deletar", "DeltarUser", "Proprietario", new { email = user.Email }, new { @class = "btn btn-danger" })</td>
                </tr>
                }
            </table>
        </div>
</section>